<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>Document</title>
</head>

<body>
  <!-- Header -->

  <div class="container-fluid">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 px-2">
      <!-- logo -->
      <a href="/" class="d-flex align-items-center col-md-auto mb-2 mb-md-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
          <image width="100%" href="https://getbootstrap.com/docs/5.2/assets/brand/bootstrap-logo.svg" />
        </svg>
        <span class="logo-text">Logo</span>
      </a>
      <!-- end logo -->
      <!-- nav -->
      <ul class="nav col-12 col-lg-auto col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2">Home</a></li>
        <li><a href="#" class="nav-link px-2">Features</a></li>
        <li><a href="#" class="nav-link px-2">Pricing</a></li>
        <li><a href="#" class="nav-link px-2">FAQs</a></li>
        <li><a href="#" class="nav-link px-2">About</a></li>
      </ul>
      <!-- end nav -->
      <!-- form search -->
      <form class="form-search col-12 col-lg-auto col-md-6 mb-3 mb-lg-0 me-lg-3" role="search">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        <button type="submit" class="btn-search btn btn-outline-light">
          <i class="icon-search fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
      <!-- end form search -->
      <!-- wallet-connect -->
      <div class="col-12 col-lg-auto col-md-6 mb-3 mb-lg-0 me-lg-3 text-center text-md-end">
        <button type="button" class="btn-wallet btn btn-outline-light btn-lg">
          <i class="icon-wallet fa-solid fa-wallet"></i>
          Wallet connect
        </button>
      </div>
      <!-- end wallet-connect -->
    </header>
  </div>
  <!-- End header -->

  <!-- Main slider -->
  <div class="mainslider">
    <div class="container col-xxl-8 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-12 col-lg-6 fix-slider">
          <div class="slider-content">
            <div class="slider">
                  <div class="slide-track">
                      <div class="slide"><img src="images/item-1.png"/></div>
                      <div class="slide"><img src="images/item-2.png"/></div>
                      <div class="slide"><img src="images/item-3.png"/></div>
                      <div class="slide"><img src="images/item-1.png"/></div>
                      <div class="slide"><img src="images/item-2.png"/></div>
                      <div class="slide"><img src="images/item-3.png"/></div>
                      <div class="slide"><img src="images/item-1.png"/></div>
                      <div class="slide"><img src="images/item-2.png"/></div>
                      <div class="slide"><img src="images/item-3.png"/></div>
                  </div>
                  <div class="slide-track reverse">
                      <div class="slide"><img src="images/item-1.png"/></div>
                      <div class="slide"><img src="images/item-2.png"/></div>
                      <div class="slide"><img src="images/item-3.png"/></div>
                      <div class="slide"><img src="images/item-1.png"/></div>
                      <div class="slide"><img src="images/item-2.png"/></div>
                      <div class="slide"><img src="images/item-3.png"/></div>
                      <div class="slide"><img src="images/item-1.png"/></div>
                      <div class="slide"><img src="images/item-2.png"/></div>
                      <div class="slide"><img src="images/item-3.png"/></div>
                  </div>
                  <div class="slide-track">
                      <div class="slide"><img src="images/item-1.png"/></div>
                      <div class="slide"><img src="images/item-2.png"/></div>
                      <div class="slide"><img src="images/item-3.png"/></div>
                      <div class="slide"><img src="images/item-1.png"/></div>
                      <div class="slide"><img src="images/item-2.png"/></div>
                      <div class="slide"><img src="images/item-3.png"/></div>
                      <div class="slide"><img src="images/item-1.png"/></div>
                      <div class="slide"><img src="images/item-2.png"/></div>
                      <div class="slide"><img src="images/item-3.png"/></div>
                  </div>
                  <div class="slide-track reverse">
                      <div class="slide"><img src="images/item-1.png"/></div>
                      <div class="slide"><img src="images/item-2.png"/></div>
                      <div class="slide"><img src="images/item-3.png"/></div>
                      <div class="slide"><img src="images/item-1.png"/></div>
                      <div class="slide"><img src="images/item-2.png"/></div>
                      <div class="slide"><img src="images/item-3.png"/></div>
                      <div class="slide"><img src="images/item-1.png"/></div>
                      <div class="slide"><img src="images/item-2.png"/></div>
                      <div class="slide"><img src="images/item-3.png"/></div>
                  </div>
              </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <h1 class="display-5 fw-bold lh-1 mb-3">Discover, find and sell extraordinary monster NFTs</h1>
          <p class="lead">Marketplace For Monster Character Cllections Non Fungible Token NFTs</p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <button type="button" class="btn-slider btn btn-outline-light btn-lg px-4 me-md-2">Create</button>
            <button type="button" class="btn-slider btn btn-outline-light btn-lg px-4">Explore</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End main-slider -->



  <!-- Live-auctions -->
  <section></section>
  <!-- End live-auctions -->

  <!-- Top-seller -->
  <section></section>
  <!-- End top-seller -->

  <!-- Today-pick -->
  <section></section>
  <!-- End today-pick -->

  <!-- Popular-collection -->
  <section></section>
  <!-- End popular-collection -->

  <!-- Ft-icon Create and sell your nft -->
  <section></section>
  <!-- End ft-icon -->

  <!-- Footer -->
  <footer></footer>
  <!-- End footer -->
  <script src="https://kit.fontawesome.com/e90ccf0b39.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" charset="utf-8"></script>
</body>

</html>
