@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700;900&display=swap');
@import "slider_animation.css";
@import "header.css";
@import "live-author.css";
@import "top-seller.css";

body{
  font-family: 'Urbanist', sans-serif;
  background-color: #14141f;
  color: #fff;
  overflow-x: hidden;
}
a{
  text-decoration: none;
  color: #fff;
}
.fill{
  font-size: 1.5rem;
  font-weight: bold;
}
.bg-color, .fill{
  background: linear-gradient(178.56deg, #e250e5 5.32%, #4b50e6 94.32%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hack-bg img{
  width: 100%
}
